<!-- Add New Camera or Edit Exiting -->
<div class="col-xs-12 no-padding collapse" id="camera_input_area">
    <div class="panel panel-default">
        <div class="panel-body">

            <form [formGroup]="cameraForm">

                <div class="form-group col-md-6">
                    <label for="cameraName" class="control-label">Naziv kamere:</label>
                    <input type="text" class="form-control" id="cameraName" formControlName="name" >
                    <span [hidden]="(cameraForm.controls['name'].pristine && cameraForm.controls['name'].untouched) ||
                        (cameraForm.controls['name'].dirty && cameraForm.controls['name'].valid) ||
                        (cameraForm.controls['name'].touched && cameraForm.controls['name'].value !== '')" 
                        class="help-block">Obavezno polje (max. 20 znakova)</span>
                </div>

                <div class="form-group col-md-6">
                    <label for="cameraLocation" class="control-label">Lokacija:</label>
                    <input type="text" class="form-control" id="cameraLocation" formControlName="location" >
                    <span [hidden]="(cameraForm.controls['location'].pristine && cameraForm.controls['location'].untouched) ||
                        (cameraForm.controls['location'].dirty && cameraForm.controls['location'].valid) ||
                        (cameraForm.controls['location'].touched && cameraForm.controls['location'].value !== '')"
                        class="help-block">Obavezno polje (max. 20 znakova)</span>
                </div>
                
                <div class="form-group col-md-4">
                    <label for="ipAddress" class="control-label">IP adresa:</label>
                    <input type="text" class="form-control" id="ipAddress" formControlName="ip_address" >
                    <span [hidden]="(cameraForm.controls['ip_address'].pristine && cameraForm.controls['ip_address'].untouched) ||
                        (cameraForm.controls['ip_address'].dirty && cameraForm.controls['ip_address'].valid) ||
                        (cameraForm.controls['ip_address'].touched && cameraForm.controls['ip_address'].valid)"
                        class="help-block">Neispravna IP adresa</span>
                </div>

                <div class="form-group col-md-2">
                    <label for="port" class="control-label">Port:</label>
                    <input type="text" class="form-control" id="port" formControlName="port" >
                    <span [hidden]="cameraForm.controls['port'].valid"
                        class="help-block">Neispravan port</span>
                </div>

                <div class="form-group col-md-3">
                    <label for="imageFormat" class="control-label">Format slike:</label>
                    <select class="form-control" id="imageFormat" formControlName="image_format" >
                        <option *ngFor="let format of imageFormats" 
                            [value]="format" 
                            [attr.selected]="cameraForm.controls['image_format'].value==format ? true : null">
                        {{ format }}
                        </option>
                    </select>
                </div>

                <div class="form-group col-md-3">
                    <label for="cameraType" class="control-label">Tip kamere:</label>
                    <select class="form-control" id="cameraType" formControlName="camera_type" >
                        <option *ngFor="let type of cameraTypes" 
                            [value]="type" 
                            [attr.selected]="cameraForm.controls['camera_type'].value==type ? true : null">
                        {{ type }}
                        </option>
                    </select>
                </div>

            </form>
            
        </div>
    </div>
</div>