<app-page-heading *ngIf="camera"
    [title]="camera?.name"
    [description]="camera?.location"
    [notFrontPage]="true"
    [camera]="camera"></app-page-heading>

<div class="row">
    <div class="col-xs-12">
        <img class="img-responsive" src="{{ lastImage?.imgUrl }}" alt="{{ lastImage?.name }}" >
    </div>
    <div class="col-xs-12">
        <button 
            type="button" 
            class="btn btn-primary material-btn material-btn-info"
            [routerLink]="['archive']" >
            Arhiva
        </button>
    </div>
</div>