<!--<app-page-heading></app-page-heading>-->

<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-12 page-header">
            <div class="col-xs-7 no-padding">
                <h1 class="no-margin">
                    Profil
                    <small>Uređivanje</small>
                </h1>
            </div>
            <div *ngIf="user?.level === 1" class="col-xs-5 button-box">
                <button [routerLink]="['/users/manage']" class="material-btn material-btn-primary no-padding no-margin">
                    Postavke
                </button>
            </div>
        </div>

        <ol class="breadcrumb col-xs-12">
            <li class="active">
                <i class="fa fa-user" aria-hidden="true"></i> Profil
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-6"> 
        <form [formGroup]="profileForm" (ngSubmit)="onUserInfoSubmit()">
            <div class="col-xs-12 title-box">
                <h3 class="col-xs-12 no-margin form-title">Osobni podaci:</h3>
                <button 
                    type="submit" 
                    class="material-btn material-btn-success form-title-button"
                    [disabled]="!profileForm.valid || profileForm.pristine" >Spremi</button>
            </div>
        
            <div class="form-group col-xs-12">
                <label for="firstName" class="control-label">Ime:</label>
                <input type="text" class="form-control" id="firstName" [(ngModel)]="user.firstName" formControlName="firstName" />
            </div>
            <div class="form-group col-xs-12">
                <label for="lastName" class="control-label">Prezime:</label>
                <input type="text" class="form-control" id="lastName" [(ngModel)]="user.lastName" formControlName="lastName" />
            </div>
            <div class="form-group col-xs-12">
                <label for="email" class="control-label">Email:</label>
                <input type="email" class="form-control" id="email" [(ngModel)]="user.email" formControlName="email" />
            </div>
            <div class="form-group col-xs-12">
                <label for="level" class="control-label">Uloga:</label>
                <p>{{ levels[user?.level] }}</p>
            </div>
        </form>
        <form [formGroup]="loginInfoForm"  (ngSubmit)="onUserPasswordChange()">
            <div class="col-xs-12 title-box">
                <h3 class="col-xs-12 no-margin form-title">Podaci za prijavu:</h3>
                <button 
                    type="submit" 
                    class="material-btn material-btn-success form-title-button"
                    [disabled]="!loginInfoForm.valid || loginInfoForm.pristine" >Spremi</button>
            </div>
            <div class="form-group col-xs-12">
                <label for="username" class="control-label">Korisničko ime:</label>
                <!--<input type="text" class="form-control" id="username" [ngModel]="user.username" formControlName="username" />-->
                <div class="form-control-block" >{{ user?.username }}</div>
            </div>
            <div class="form-group col-xs-12">
                <label for="oldPassword" class="control-label">Stara lozinka:</label>
                <input type="password" class="form-control" id="oldPassword" formControlName="oldPassword" />
            </div>
            <div class="form-group col-xs-12">
                <label for="newPassword" class="control-label">Nova lozinka:</label>
                <input type="password" class="form-control" id="newPassword" formControlName="newPassword" />
            </div>
        </form>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="col-xs-12 title-box">
            <h3 class="col-xs-12 no-margin form-title">Odaberite kamere za prikaz:</h3>
        </div>
        <ul class="list-group col-xs-12 no-margin" style="padding: 5px 15px 0;">
            <li class="list-group-item checkboxFive" *ngFor="let camera of cameras; let i=index">
                <input 
                    type="checkbox" 
                    id="checkboxFiveInput{{i}}" 
                    [value]="camera._id"
                    [checked]="isCameraChecked(camera._id)"
                    (change)="onClickedCheckbox(camera, $event)" >
                <label for="checkboxFiveInput{{i}}"></label>
                <span class="checkbox-title">
                    {{ camera?.name }} <small>{{ camera?.location }}</small>
                </span>
            </li>
        </ul>
    </div>
</div>