<div id="login-site" class="col-xs-12 no-padding" style="height: 100vh;">
    <div id="login-box" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <div class="img-box text-center">
            <img src="/images/default-logo.png" alt="No logo">
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
            <div class="form-group col-xs-12">
                <label for="username" class="control-label">Korisničko ime:</label>
                <input type="text" class="form-control" id="username" formControlName="username">
                <span [hidden]="(loginForm.controls['username'].pristine && loginForm.controls['username'].untouched) ||
                    (loginForm.controls['username'].dirty && loginForm.controls['username'].valid)" 
                    class="help-block">Obavezno polje (max. 20 znakova)</span>
            </div>
            <div class="form-group col-xs-12">
                <label class="control-label">Lozinka:</label>
                <input type="password" class="form-control" id="password" formControlName="password">
                <span [hidden]="(loginForm.controls['password'].pristine && loginForm.controls['password'].untouched) ||
                    (loginForm.controls['password'].dirty && loginForm.controls['password'].valid)"
                    class="help-block">Obavezno polje (min. 6, a max. 20 znakova)</span>
            </div>
            <div class="col-xs-12 text-center">
                <button 
                    id="login-btn" 
                    type="submit" 
                    class="material-btn material-btn-success no-padding no-margin"
                    [disabled]="!loginForm.valid" >Prijava</button>
            </div>
        </form>
    </div>
</div>