.form-control[readonly]{
    background-color: transparent;
    opacity: 0.7;
    cursor: not-allowed;
}
.user-info-title {
    padding: 12px 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.first-confirm-button {
    padding: 8px 16px;
    margin: 0;
}
.second-delete-button {
    padding: 8px 16px;
    margin: 0 0 0 12px;
}

.checkbox-icon{
    font-size: 1.25em;
    margin-right: -1px;
}
.checkbox-icon.glyphicon-ok:before {
    font-size: 16px;
    color: #4CAF50;
    margin-left: -2px;
}
.checkbox-icon.glyphicon-remove:before {
    font-size: 16px;
    color: #CC0000;
    margin-left: -2px;
}
p.user-role {
    font-size: 1.6rem;
    font-weight: 600;
    color: #555;
}
