<form [formGroup]="userForm" (ngSubmit)="onSubmit()" >
    <div class="col-xs-12 title-box">
            <h3 class="col-xs-12 no-margin form-title">Podaci o korisniku:</h3>
            <div class="form-title-button">
                <button *ngIf="user?.level === 0"
                    type="submit" 
                    class="material-btn material-btn-success first-confirm-button"
                    [disabled]="!userForm.valid || userForm.pristine" >Spremi</button>
                <button 
                    type="button"
                    class="material-btn material-btn-danger second-delete-button"
                    (click)="onUserDelete()" >Izbriši</button>
            </div>
        </div>
    <div>
        <div class="form-group col-xs-12">
            <label for="firstName" class="control-label">Ime:</label>
            <input type="text" class="form-control" id="firstName" [ngModel]="user.firstName" formControlName="firstName" required [readonly]="user?.level === 1"/>
        </div>
        <div class="form-group col-xs-12">
            <label for="lastName" class="control-label">Prezime:</label>
            <input type="text" class="form-control" id="lastName" [ngModel]="user.lastName" formControlName="lastName" required [readonly]="user?.level === 1"/>
        </div>
        <div class="form-group col-xs-12">
            <label for="email" class="control-label">Email:</label>
            <input type="email" class="form-control" id="email" [ngModel]="user.email" formControlName="email" required [readonly]="user?.level === 1"/>
        </div>
        <div class="form-group col-xs-12" style="margin-bottom: 8px;">
            <label for="level" class="control-label">Korisničko ime:</label>
            <p class="user-role">{{ user?.username }}</p>
        </div>
        <div class="form-group col-xs-12">
            <label for="level" class="control-label">Uloga:</label>
            <p class="user-role">{{ levels[user?.level] }}</p>
        </div>
        <div class="form-group col-xs-12">
            <p class="control-label">Kamere:</p>
            <ul class="list-group no-margin">
                <li class="list-group-item checkboxFive" *ngFor="let camera of cameras; let i=index">
                    <span *ngIf="user?.level === 0; else elseTemplate">
                        <input 
                            type="checkbox" 
                            id="checkboxFiveInput{{i}}" 
                            [value]="camera._id"
                            [checked]="isCameraChecked(camera._id)"
                            (click)="updateCheckedCamerasList(camera, $event)">
                        <label for="checkboxFiveInput{{i}}"></label>
                    </span>
                    <ng-template #elseTemplate>
                        <span *ngIf="isCameraChecked(camera._id)" class="glyphicon glyphicon-ok checkbox-icon" aria-hidden="true"></span>
                        <span *ngIf="!isCameraChecked(camera._id)" class="glyphicon glyphicon-remove checkbox-icon" aria-hidden="true"></span>
                    </ng-template>
                    <span class="checkbox-title">
                        {{ camera?.name }} <small>{{ camera?.location }}</small>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</form>