<!-- Page Heading -->
<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-12 page-header">
            <div class="col-xs-7 no-padding">
                <h1 class="no-margin">
                    <span class="glyphicon glyphicon-chevron-left go-back-icon" aria-hidden="true" *ngIf="notFrontPage" (click)="goBack()"></span>
                    {{ title }}
                    <small>{{ description }}</small>
                </h1>
            </div>
            <div *ngIf="!notFrontPage && user?.level === 1" class="col-xs-5 button-box">
                <button id="add_new_camera" class="material-btn material-btn-primary no-padding no-margin" data-toggle="collapse" href="#camera_input_area" aria-expanded="false" aria-controls="camera_input_area">
                    <span class="btn-text">Dodaj Kameru</span> 
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <button 
                    id="save_new_camera" 
                    class="material-btn material-btn-success no-padding no-margin" 
                    data-toggle="collapse" 
                    href="#camera_input_area" 
                    aria-expanded="false" 
                    aria-controls="camera_input_area"
                    (click)="cameraForm.onSubmit()"
                    [disabled]="!isFormValid()">
                        <span class="btn-text">Spremi</span> 
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
                <button id="cancel_new_camera" class="material-btn material-btn-link-transparent no-padding no-margin" data-toggle="collapse" href="#camera_input_area" aria-expanded="false" aria-controls="camera_input_area">
                    <span class="btn-text">Odustani</span> 
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>
            <div *ngIf="notFrontPage && user?.level === 1" class="col-xs-5 button-box">
                <button id="update_camera" class="material-btn material-btn-primary no-padding no-margin" data-toggle="collapse" href="#camera_input_area" aria-expanded="false" aria-controls="camera_input_area">
                    <span class="btn-text">Uredi</span> 
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
                <button 
                    id="delete_camera" 
                    class="material-btn material-btn-danger no-padding no-margin"
                    (click)="showDeleteModal = true">
                        <span class="btn-text">Izbriši</span> 
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
                <button 
                    id="save_camera" 
                    class="material-btn material-btn-success no-padding no-margin" 
                    data-toggle="collapse" 
                    href="#camera_input_area" 
                    aria-expanded="false" 
                    aria-controls="camera_input_area"
                    (click)="cameraForm.onUpdate()"
                    [disabled]="!cameraForm.valuesChanged" >
                        <span class="btn-text" >Spremi</span> 
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
                <button id="cancel_camera" class="material-btn material-btn-link-transparent no-padding no-margin" data-toggle="collapse" href="#camera_input_area" aria-expanded="false" aria-controls="camera_input_area">
                    <span class="btn-text">Odustani</span> 
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>
        </div>


		<!-- Component with input form -->
		<app-camera-input
            #cameraForm
            [camera]="camera" 
            (isFormValid)="formValid = $event">
        </app-camera-input>

        <!--<div class="alert alert-success col-xs-12" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Čestitamo!</strong> Uspješno ste izbrisali kameru.
        </div>-->
        
        
        <ol class="breadcrumb col-xs-12">
            <li class="active" *ngIf="!notFrontPage">
                <i class="fa fa-video-camera" aria-hidden="true"></i> {{ title }}
            </li>
            <li *ngIf="notFrontPage">
                <i class="fa fa-video-camera" aria-hidden="true"></i> 
                <a [routerLink]="['']">Kamere</a>
            </li>
            <li class="active" *ngIf="notFrontPage">
                {{ title }}
            </li>
        </ol>
    </div>
</div>
<!-- .row -->

<!-- Delete modal -->
<div [ngClass]="{'opened-modal': showDeleteModal }" class="modal fade delete-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
        <div class="modal-header alert-danger">
            <button type="button" class="close" (click)="showDeleteModal = false" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Izbrisati {{ camera?.name }}? </h4>
        </div>
        <div class="modal-body">
            Da li ste sigurni da želite izbrisati kameru <b>{{ camera?.name }}</b> i sav njezin sadržaj?
        </div>
        <div class="modal-footer">
            <button type="button" 
                class="material-btn material-btn-link-transparent" 
                (click)="showDeleteModal = false">Odustani</button>
            <button type="button" 
                class="material-btn material-btn-warning" 
                (click)="onDelete()"
                data-dismiss="modal" >Izbriši</button>
            <button type="button" class="material-btn material-btn-danger" disabled>Izbriši i arhivu</button>
        </div>
        </div>
    </div>
</div>

<!-- Success modal -->
<div class="modal fade success-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
        <div class="modal-header alert-success">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Čestitamo </h4>
        </div>
        <div class="modal-body">
            Uspješno ste izbrisali <b>{{ camera?.name }}</b>!
        </div>
        <div class="modal-footer">
            <button type="button" class="material-btn material-btn-success" data-dismiss="modal" 
            [routerLink]="['']" >U redu</button>
        </div>
        </div>
    </div>
</div>