<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-12 page-header">
            <h1 class="no-margin">
                <span class="glyphicon glyphicon-chevron-left go-back-icon" aria-hidden="true" (click)="goToDetails()"></span>
                {{ camera?.name }}
                <small>Arhiva</small>
            </h1>
        </div>
        <ol class="breadcrumb col-xs-12">
            <li>
                <i class="fa fa-video-camera" aria-hidden="true"></i> 
                <a [routerLink]="['']">Kamere</a>
            </li>
            <li>
                <a [routerLink]="['../']">{{ camera?.name }}</a>
            </li>
            <li class="active">
                Arhiva
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
            <h4>Pretraži datume:</h4>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <app-daterangepicker (dateRangeDates)="changedDateRange($event)" ></app-daterangepicker>
        </div>

        
    </div>
    <div class="col-xs-12" style="margin-top: 20px;">
        <div *ngIf="showLoadingArea" class="loading-images col-xs-12">
            Dohvaćanje slika...
        </div>
        <div *ngIf="isEmptyArray" class="loading-images col-xs-12">
            Nema slika za odabrani vremenski period!
        </div>
        <div *ngFor="let image of slicedImages" class="col-xs-12 col-sm-6 col-md-4" style="padding-bottom: 10px;">
            <img class="img-responsive" src="{{ image.imgUrl }}" alt="{{ image.name }}" >
        </div>
    </div>
</div>