.new-user-btn {
    padding: 8px 16px;
    margin: 0;
    width: 100%;
}
.search-input {
    background-color: transparent;
    padding-left: 0;
}
.search-input::-webkit-input-placeholder {
  color: #a0a0a0;
  font-weight: normal;
}
.search-input::-moz-placeholder {
  color: #a0a0a0;
  font-weight: normal;
}
.search-input:-ms-input-placeholder {
  color: #a0a0a0;
  font-weight: normal;
}
.search-input:-moz-placeholder {
  color: #a0a0a0;
  font-weight: normal;
}
.users-list-group > .users-list-group-item {
    list-style-type: none;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}
.users-list-group > .users-list-group-item:last-child {
    border-bottom: none;
}
.users-list-group-item > .list-num {
    padding: 20px 0;
    font-size: 16px;
    color: #333;
    text-align: center;
    font-weight: bold;
}
.users-list-group-item.active,
.users-list-group-item:focus {
    background-color: #f5f5f5;
    outline: none;
}
.users-list-group-item:hover {
    cursor: pointer;
}
.users-list-group-item a {
    text-decoration: none;
}
.user-link-box h3 {
    padding: 10px 0;
    color: #333;
    font-weight: 600;
    font-size: 20px;
}
.user-link-box span {
    color: #777;
}
.action-box {
    padding: 6px 0;
    text-align: right;
}
.panel-body {
    max-height: 70vh;
    overflow-y: auto;
}
.user-admin {
    text-align: right;
    padding: 20px;
}
.user-admin span {
    font-size: 18px;
    color: #a0a0a0;
    font-weight: normal;
}