<!--<app-page-heading></app-page-heading>-->

<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-12 page-header">
            <div class="col-xs-7 no-padding">
                <h1 class="no-margin">
                    Postavke
                    <small>Korisnici</small>
                </h1>
            </div>
            <div class="col-xs-5 button-box">
                <button [routerLink]="['/users/profile']" class="material-btn material-btn-primary no-padding no-margin">
                    Pregledaj profil
                </button>
            </div>
        </div>

        <ol class="breadcrumb col-xs-12">
            <li class="active">
                <i class="fa fa-cog" aria-hidden="true"></i> Postavke
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-12 col-md-6 no-padding">
            <div class="panel panel-default col-xs-12 no-padding">
                <div class="panel-heading col-xs-12">
                    <div class="col-xs-10" style="padding-left: 0;">
                        <div class="form-group col-xs-12 no-padding no-margin">
                            <input 
                                type="text" 
                                class="form-control search-input" 
                                placeholder="Pretraži korisnike..." 
                                [(ngModel)]="searchInput" />
                        </div>
                    </div>
                    <div class="col-xs-2 text-right no-padding">
                        <button type="button" class="material-btn material-btn-primary new-user-btn" [routerLink]="['/users/manage/new']">Dodaj</button>
                    </div>
                </div>
                <div class="panel-body col-xs-12 no-padding">
                    <ul class="users-list-group col-xs-12 no-padding no-margin">
                        <li 
                            class="users-list-group-item col-xs-12 no-padding" 
                            routerLinkActive="active" 
                            [routerLink]="[user['_id']]" 
                            *ngFor="let user of users | searchUsers:searchInput; let i=index">

                            <div class="col-xs-1 list-num"><em>#{{ i + 1 }}</em></div>
                            <div class="col-xs-7">
                                <a class="user-link-box">
                                    <h3 class="no-margin">{{ user.firstName + ' ' + user.lastName }}</h3>
                                    <span>{{ user.email }}</span>
                                </a>
                            </div>
                            
                            <div class="col-xs-4 user-admin">
                                <span *ngIf="user.level === 1; else elseTemplate"><em>Admin</em></span>
                                <ng-template #elseTemplate>
                                    <span><em>Nadzornik</em></span>
                                </ng-template>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6" style="padding-right: 0;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>