<form [formGroup]="newUserForm" (ngSubmit)="onSubmit()">
    <div class="col-xs-12 title-box">
        <h3 class="col-xs-12 no-margin form-title">Novi korisnik:</h3>
        <button 
            type="submit" 
            class="material-btn material-btn-success form-title-button"
            [disabled]="!newUserForm.valid || newUserForm.pristine" >Spremi</button>
    </div>
    <div>
        <div class="form-group col-xs-12">
            <label for="firstName" class="control-label">Ime:</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="user.firstName" formControlName="firstName" required/>
        </div>
        <div class="form-group col-xs-12">
            <label for="lastName" class="control-label">Prezime:</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="user.lastName" formControlName="lastName" required/>
        </div>
        <div class="form-group col-xs-12">
            <label for="email" class="control-label">Email:</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="user.email" formControlName="email" required/>
        </div>
        <div class="form-group col-xs-12">
            <label for="level" class="control-label">Uloga:</label>
            <select class="form-control" id="level" [(ngModel)]="user.level" formControlName="level">
                <option *ngFor="let level of levels; let i=index" 
                    [ngValue]="i" 
                    [selected]="user?.level==i ? true : null">
                {{ level }}
                </option>
            </select>
        </div>
        <div class="form-group col-xs-12" *ngIf="user?.level === 0">
            <p class="control-label">Kamere:</p>
            <ul class="list-group no-margin">
                <li class="list-group-item checkboxFive" *ngFor="let camera of cameras; let i=index">
                    <input 
                        type="checkbox" 
                        id="checkboxFiveInput{{i}}" 
                        [value]="camera._id"
                        (click)="onCheckedCheckbox($event)">
                    <label for="checkboxFiveInput{{i}}"></label>
                    <span class="checkbox-title">
                        {{ camera?.name }} <small>{{ camera?.location }}</small>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</form>