<!-- Single Camera Card -->
<div class="col-md-6 camera-box">
    <div class="card">
        <div class="card-image">
            <img class="img-responsive" src="{{ theLastImage?.imgUrl }}" alt="{{ theLastImage?.name }}" >
        </div>

        <!--<div class="card-button">
            <button class="floating_btn no-padding"><i class="material-icons">add</i></button>
        </div>-->
        
        <div class="card-content">
            <h2 class="card-title no-margin">{{ camera.name }}</h2>
            <p class="card-desc no-margin">{{ camera.location }}</p>
        </div>
        
        <!--<div class="card-action">
            <a href="#">My Action </a>
        </div>-->

        <div class="edit-card collapsed-area">
            <div class="col-xs-offset-2 col-xs-8 col-sm-offset-1 col-sm-5 hover-actions">
                <button 
                    [routerLink]="[camera['_id'], 'archive']"
                    class="btn btn-default material-btn material-btn-link">Arhiva</button>
            </div>
            <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-5 hover-actions">
                <button 
                    [routerLink]="[camera['_id']]"
                    class="btn btn-default material-btn material-btn-primary">Pregledaj</button>
            </div>
        </div>
    </div>

    
</div>
