<!-- Top Menu Items -->
<ul class="nav navbar-right top-nav" style="float: right;">

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user"></i>
            <span *ngIf="user?.firstName && user?.lastName; else elseTemplate">
                {{ user?.firstName + ' ' + user?.lastName }}
            </span>
            <ng-template #elseTemplate>
                {{ user?.username }}
            </ng-template>
            
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a [routerLink]="['/users/profile']"><i class="fa fa-fw fa-user"></i> Profil</a>
            </li>
            <li *ngIf="user?.level === 1">
                <a [routerLink]="['/users/manage']"><i class="fa fa-fw fa-gear"></i> Postavke</a>
            </li>
            <li class="divider"></li>
            <li (click)="onLogout()" style="cursor: pointer;">
                <a><i class="fa fa-fw fa-power-off"></i> Odjavi se</a>
            </li>
        </ul>
    </li>
</ul>