<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li 
            [routerLink]="['/cameras']" 
            routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact: true}">
            <a><i class="fa fa-fw fa-home" aria-hidden="true"></i> Početna</a>
        </li>
        <li 
            *ngFor="let camera of cameras" 
            [routerLink]="['/cameras', camera._id]" 
            routerLinkActive="active" > 
            <a><i class="fa fa-video-camera" aria-hidden="true"></i> {{ camera.name }}</a>
        </li>
    </ul>
</div>