/* Global Styles */

@media(min-width:768px) {
  .navbar-toggle {
      display: none;
  }
}

#wrapper {
  padding-left: 0;
  margin-top: 50px;
}

#page-wrapper {
  width: 100%;
  padding: 0;
  background-color: #fff;
}

.huge {
  font-size: 50px;
  line-height: normal;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 225px;
  }

  #page-wrapper {
    padding: 10px 30px;
  }
}

/* Top Navigation */

.top-nav {
  padding: 0 15px;
}

.top-nav>li {
  display: inline-block;
  /*float: left;*/
}

.top-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
  color: #fff;
  background-color: #000;
}

.top-nav>.open>.dropdown-menu {
  float: left;
  position: absolute;
  margin-top: 0;
  border: 1px solid rgba(0,0,0,.15);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
  white-space: normal;
}

ul.message-dropdown {
  padding: 0;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

li.message-preview {
  width: 275px;
  border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
  padding-top: 15px;
  padding-bottom: 15px;
}

li.message-footer {
  margin: 5px 0;
}

ul.alert-dropdown {
  width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
  .side-nav {
    position: fixed;
    top: 51px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #222;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
  }

  .side-nav>li>a {
    width: 225px;
  }

  .side-nav li a:hover,
  .side-nav li a:focus {
    outline: none;
    background-color: #000 !important;
  }
}

.side-nav>li>ul {
  padding: 0;
}

.side-nav>li>ul>li>a {
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;
  color: #999;
}

.side-nav>li>ul>li>a:hover {
  color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
  display: block;
  height: 400px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}

/* Custom Colored Panels */

.huge {
  font-size: 40px;
}

.panel-green {
  border-color: #5cb85c;
}

.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;
}

.panel-green > a {
  color: #5cb85c;
}

.panel-green > a:hover {
  color: #3d8b3d;
}

.panel-red {
  border-color: #d9534f;
}

.panel-red > .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f;
}

.panel-red > a {
  color: #d9534f;
}

.panel-red > a:hover {
  color: #b52b27;
}

.panel-yellow {
  border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
}

.panel-yellow > a {
  color: #f0ad4e;
}

.panel-yellow > a:hover {
  color: #df8a13;
}


/*################ Custom CSS ###############*/

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #418841;
}
.side-nav li a:hover, .side-nav li a:focus {
  background-color: #174E3C !important;
  cursor: pointer;
}
.side-nav li:focus {
  outline: none;
}
.side-nav .fa.fa-video-camera {
  padding: 0 4px;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.hidden_object {
  display: none;
}
#login-site {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.65)), url(https://images.unsplash.com/photo-1446037909474-e2bff6697533?dpr=1&auto=format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=&bg=) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#login-box {
  align-self: center;
}
#login-box .control-label {
  font-size: 16px;
  color: #e0e0e0;
}
.form-control.ng-pristine.ng-untouched {
  border-bottom-color: #a0a0a0;
}
.form-control-block {
  font-size: 16px;
  font-weight: 600;
  opacity: 0.6;
  color: #333;
  padding: 6px 1px;
}
#login-box .form-control {
  background-color: transparent;
  color: white;
  font-size: 18px;
  height: 44px;
}
#login-btn {
  width: 100%;
  margin: 0;
  letter-spacing: 1px;
}

input[type=checkbox] {
    visibility: hidden;
}

.form-group .help-block {
  color: #d9534f;
  margin: 5px 0 0;
  font-size: 1.2rem;
}
.form-group .help-block[hidden] {
  visibility: hidden;
}

.breadcrumb .fa {
  color: #777;
  padding: 0 5px;
}
.go-back-icon {
  cursor: pointer;
  font-size: 0.8em;
}
.page-header {
  margin-top: 30px;
  padding: 0 0 9px 0;
}
.page-header h1{
  position: relative;
  line-height: 54px;
}
.page-header h1 a {
  text-decoration: none;
  font-size: 1.6rem;
}
#add_new_camera {
  cursor: pointer;
}
#add_new_camera i.fa.fa-plus,
#save_new_camera i.fa.fa-floppy-o,
#cancel_new_camera i.fa.fa-times {
  font-size: 1.3em;
  -o-transition: color .3s ease-out, background .3s ease-in;
  -ms-transition: color .3s ease-out, background .3s ease-in;
  -moz-transition: color .3s ease-out, background .3s ease-in;
  -webkit-transition: color .3s ease-out, background .3s ease-in;
  transition: color .3s ease-out, background .3s ease-in;
}
#add_new_camera i.fa.fa-plus {
  color: #337ab7;
}
#add_new_camera:hover i.fa.fa-plus{
  color: #306da5;
}
#save_new_camera i.fa.fa-floppy-o {
  color: #5cb85c;
}
#save_new_camera:hover i.fa.fa-floppy-o{
  color: #3d8b3d;
}
#cancel_new_camera i.fa.fa-times {
  color: #d9534f;
}
#cancel_new_camera:hover i.fa.fa-times{
  color: #b52b27;
}
#add_new_camera[aria-expanded='true'],
#update_camera[aria-expanded='true'],
#delete_camera[aria-expanded='true'] {
  display: none;
}
#save_new_camera[aria-expanded='false'],
#cancel_new_camera[aria-expanded='false'],
#save_camera[aria-expanded='false'],
#cancel_camera[aria-expanded='false']{
  display: none;
}

.form-control,
.form-control:focus {
  border: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-bottom: 2px solid #337ab7;
  border-radius: 0;
  padding: 5px 1px;
  transition: border-bottom-color ease-in-out .3s;
}
.form-control.ng-invalid {
  border-bottom-color: #E91E63;
}
.form-control.ng-valid {
  border-bottom-color: #00c851;
}
.form-group .form-control {
  font-size: 16px;
  font-weight: 600;
}
.control-label {
  font-weight: normal;
  color: #777;
}



/* ####################### Camera Card CSS ##################### */
.camera-box {
  overflow: hidden;
}
.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.card {
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 2px;
}
.card .card-title {
  color: #333;
  font-size: 24px;
  padding: 8px 0;
  font-weight: 300;
  text-transform: uppercase;
}
.card .card-desc {
  font-size: 14px;
  color: rgba(0,0,0,.54);
}
.card .card-image {
  overflow: hidden;
}
.card .card-image img {
  border-radius: 2px 2px 0 0;
  z-index: -1;
}
.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
}
.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}
.card .card-action a {
  color: #ffab40;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
.card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}
.card {
  display: block;
  position: relative;
  overflow: hidden;
}
.card:hover .edit-card {
  opacity: 1;
  bottom: 0;
}
.edit-card {
  position: absolute;
  right: 0;
  bottom: -30%;
  height: 100%;
  left: 0;
  padding: 2px 5px;
  background: #333333;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  cursor: pointer;
  opacity: 0;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
@media (max-width: 769px) {
  .hover-actions:first-child {
    margin-top: -62px;
  }
  .hover-actions:last-child {
    margin-top: 0;
  }
}
.hover-actions {
  top: 50%;
  margin-top: -36px;
}
.hover-actions > .material-btn {
  width: 100%;
}
.button-box {
  text-align: right;
}
.button-box .glyphicon {
  display: none;
}
.material-btn {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 2px;
  border: 0;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  color: #fff;
  margin: 6px;
  padding: 11px 16px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.material-btn:not([disabled]):hover {
  color: #fff;
  text-decoration: none;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.material-btn:disabled {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.26);
  background: transparent;
}
.material-btn:active, .material-btn:focus, .material-btn.active {
  outline: 0 !important;
  text-decoration: none;
  color: #fff;
}
/* Primary Material Button */
.material-btn-primary {
  background: #2196F3;
}
.material-btn-primary:hover, .material-btn-primary:focus {
  background-color: #1976D2 !important;
}
.material-btn-primary.active {
  background-color: #0b51c5 !important;
}
/* Success Material Button */
.material-btn-success {
  background: #00C851;
}
.material-btn-success:hover, .material-btn-success:focus {
  background-color: #00d255 !important;
}
.material-btn-success.active {
  background-color: #006228 !important;
}
.material-btn-success:disabled {
  background-color: #4caf50!important;
  color: rgba(255, 255, 255, 0.30);
}
/* Danger Material Button */
.material-btn-danger {
  background: #CC0000;
}
.material-btn-danger:hover, .material-btn-danger:focus {
  background-color: #db0000 !important;
}
.material-btn-danger.active {
  background-color: maroon !important;
}
/* Warning Material Button */
.material-btn-warning {
  background: #FF8800;
}
.material-btn-warning:hover, .material-btn-warning:focus {
  background-color: #ff961f !important;
}
.material-btn-warning.active {
  background-color: #cc8800 !important;
}
/* Info Material Button */
.material-btn-info {
  background: #33b5e5;
}
.material-btn-info:hover, .material-btn-info:focus {
  background-color: #4abde8 !important;
}
.material-btn-info.active {
  background-color: #14799e !important;
}
/* Link Material Button */
.material-btn-link {
  background-color: white;
  color: #333;
}
.material-btn-link:not([disabled]):hover, 
.material-btn-link:not([disabled]):focus {
  background-color: #e5e5e5;
  color: #333;
}
/* Transparent Link Material Button */
.material-btn-link-transparent {
  background-color: transparent;
  color: #333;
}
.material-btn-link-transparent:not([disabled]):hover, 
.material-btn-link-transparent:not([disabled]):focus {
  background-color: transparent;
  color: #333;
}



/* ######## Floating Button CSS ########## */
.card .card-button {
  position: relative;
}
.floating_btn{
  position: absolute;
  z-index: 10;
  top: -30px;
  right: 24px;
  background-color: #F44336;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  background: #F44336;
  border: none;
  outline: none;
  color: #FFF;
  font-size: 24px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  text-align: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.floating_btn:hover {
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}
.floating_btn i {
  line-height: 54px;
  transition: .3s;
}
.floating_btn:focus i{
  transform: scale(1.1);
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


@media (max-width: 768px) {
  .button-box .glyphicon {
    display: block;
  }
  .button-box .btn-text {
    display: none;
  }
}


/* ##### CHECKBOX ##### */
.checkboxFive {
	position: relative;
}
.checkboxFive label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 8px;
  left: 8px;
	background: #eee;
	border:1px solid #ddd;

  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.checkboxFive label:after {
  opacity: 0.7;
  content: '';
  position: absolute;
  width: 16px;
  height: 7px;
  background: transparent;
  top: 6px;
  left: 4px;
  border: 3px solid white;
	border-top: none;
	border-right: none;

	transform: rotate(-45deg);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.checkboxFive input[type=checkbox]:not(:checked) + label:hover::after {
	opacity: 0.5;
  border-color: #00c851;
}
.checkboxFive input[type=checkbox]:checked + label {
  background-color: #00c851;
}
.checkboxFive input[type=checkbox]:checked + label:after {
	opacity: 1;
}
.checkbox-title {
  padding-left: 15px;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}
.checkbox-title small {
  color: #777;
  font-weight: normal;
  padding-left: 10px;
}


.form-title {
  border-bottom: 1px solid #eee;
  padding: 12px 0;
  margin-bottom: 10px;
}
.form-title-button {
  position: absolute;
  right: 10px;
  padding: 8px 12px;
}
.title-box {
  position: relative;
}


/* ############################
          Modal CSS
##############################*/
.modal {
  text-align: center;
  padding: 0!important;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}
.modal-content {
  overflow: hidden;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal-body {
  font-size: 1.6rem;
}




/* ###############################
          Loading spinner
##################################*/
/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}